
.circle {
    --avatar-size: 2rem;
    background-color: #ccc;
    border-radius: 50%;
    height: var(--avatar-size);
    text-align: center;
    width: var(--avatar-size);
}
.initials {
    font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
    line-height: 2;
    top: calc(var(--avatar-size) / 4); /* 25% of parent */
  }